doctype html
html(lang="en")
  head
    title Brazil Drive Realtime Map
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")

    style
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }

    script(type="text/javascript").
      var map, markers;
      function initialize() {
        console.log("initializing map.");
        var mapOptions = {
          zoom: 4
          , center: new google.maps.LatLng(10.855476, -75.589739)
          , mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
         mapOptions
        );
      addMarkers();
      }
      function addMarkers() {
        console.log("getting points from server.");
        $.get("/points", function(data) {
          console.log(data.points);
          markers = data.points;
          var routePathCoords = [];
          console.log("adding markers to map.");
          for(var i = 0; i < markers.length; i++) {
            var nextLatLng = new google.maps.LatLng(markers[i].latitude, markers[i].longitude);
            routePathCoords.push(nextLatLng);
            var nextMarker = new google.maps.Marker({
              position: nextLatLng
              , map: map
              //- , title: markers[i].dateTime.split("+")[0] //cut out some stuff
            });
            //- var routePath = new google.maps.Polyline({
            //-   path: routePathCoords
            //-     , geodesic: true,
            //-     strokeColor: '#FF0000',
            //-     strokeOpacity: 1.0,
            //-     strokeWeight: 2
            //- });
            //- routePath.setMap(map);

          }
        });
        
      }
      google.maps.event.addDomListener(window, 'load', initialize);

  body
    div#map-canvas
      h3 Brazil Drive Map! 